/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.content {
    display: grid;
    grid-template-areas: 
        "header"
        "hero"
        "other-cities"
        "need-tickets"
        "Hero-2"
        "what-new"
        "footer";
    }

    .header {
        grid-area: header;
    }

    .hero {
        grid-area: hero;
    }
    .other-cities {
        grid-area: other-cities;
    }
    .need-tickets {
        grid-area: need-tickets;
    }
    .hero-2 {
        grid-area: hero-2;
    }
    .what-new {
        grid-area: what-new;
    }
    .footer {
        grid-area: footer;
    }